<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Voice Announcements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Announce altitude on launch</string>
			<key>Key</key>
			<string>announceonlaunch</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>ShortTitles</key>
			<array>
				<string>↓</string>
				<string>↑↓</string>
				<string>Off</string>
			</array>
			<key>Values</key>
			<array>
				<string>descentonly</string>
				<string>on</string>
				<string>off</string>
			</array>
			<key>Title</key>
			<string>Voice announcements</string>
			<key>Key</key>
			<string>voiceannouncements</string>
			<key>DefaultValue</key>
			<string>descentonly</string>
			<key>Titles</key>
			<array>
				<string>Every 1000ft on descent</string>
				<string>Every 1000ft on ascent and descent</string>
				<string>Off</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
